<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>課題</h1>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result1 = connection.exec("SELECT * FROM crops WHERE NOT(quality = true);") %>

    <% result2 = connection.exec("SELECT * FROM crops WHERE NOT(give_for = '自家消費');") %>

    <% data1 = [] %>

    <% data2 = [] %>



    <% result1.each do |record| %>
      <%  data1 << "譲渡先が自家消費ではないもの #{record["length"]} #{record["weight"]} #{record["weight"]} #{record["give_for"]}#{record["date"]}"  %>
    <% end %>

    <% result2.each do |record| %>
      <%  data2 << "品質が悪いもの#{record["length"]} #{record["weight"]} #{record["weight"]} #{record["give_for"]}#{record["date"]}"  %>
    <% end %>

    <form action="goya.cgi" method="POST">
       譲渡先が自家消費ではないもの<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data1.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <form action="goya.cgi" method="POST">
       品質が悪いもの<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data2.join(' ') %>">
      <input type="submit" name="送信" >
    </form>





  </body>
</html>
